.card{
    border: 1px solid black;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.serie-data{
    display: flex;
    align-items: center;
    gap: 16px;
}

.serie-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.title{
    font-size: xx-large;
    font-weight: bold;
}
.subtitle{
    display: flex;
    gap: 32px;
}
.button-container{
    display: flex;
    gap: 32px;
}


#series-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 16px;
}

.loading-pizza{
    height: 30px;
    display: none;
}





/* * {
    background-color: black;
    box-sizing: border-box;
    border: solid 2px red;
}


h2 {
    color: white;
    font-size: 60px;
    border: 1px solid rgb(245, 187, 187);
    text-align: center;
}

.serie-li {
    height: 200px;
    width: 1200px;
    border-radius: 30px;
    border: solid 2px blue;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

img {
    width: 200px;
    height: 200px;
}

.text-container {
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    color: aqua;

}

.button-1 {
    width: 40px;
    height: 40px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.likeButtonImg {
    height: 100%;
    width: 100%;
}

.button-2 {
    width: 40px;
    height: 40px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.unlikeButtonImg {
    height: 100%;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

} */